<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h4 class="title center-align">All Books</h4>

        <!-- Generates all cards displayed in alphabetical order, following the same code outline as the recents in index.html -->
        <div class="row grey darken-4">
            {% for book in books | sort(attribute="book_title") %}
                <div class="col s8 offset-s2 m4 l2">
                    <div class="card grey darken-3" style="overflow: visible;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ book.image_url }}" alt="book_image">
                        </div>

                        <div class="card-content">
                            <div style="height: 20px;">
                                {% if book.rating %}
                                    <p><i class="material-icons card-star">star_rate</i> {{ book.rating }}</p>
                                {% else %}
                                    <p>(No reviews yet)</p>
                                {% endif %}
                            </div>

                            <p class="card-title white-text text-darken-4 activator capitalize">{{ book.book_title }}</p>
                        </div>

                        <div class="card-reveal grey darken-3">
                            <span class="card-title title capitalize">{{ book.book_title }}<i class="material-icons right">close</i></span>

                            <p class="card-blurb">{{ book.book_blurb }}</p>

                            <a class="link" href="{{ url_for('book_review', book_id=book._id) }}">More..</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- Use of flask pagination -->
        <!-- Note that because of a bug with flask pagination, this template is only limited to 6 results per page (app.py, line 147) -->
        <div class="center">
            {{ pagination.info }}
            {{ pagination.links }}
        </div>
        
        <div class="row">
            <nav>
                <div class="nav-wrapper grey darken-4">
                    <form action="{{ url_for('search_books') }}">
                        <div class="input-field">
                            <input id="search0" type="search" name="search" placeholder="Title / Author" required>

                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}