<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

    <!-- Displays the information of the book that is clicked via the book's ObjectId -->
    <div class="container">
        <div class="row grey darken-4 valign-wrapper">
            <div class="col s12 m3 valign-wrapper">
                <img class="review-image responsive-img" src="{{ book.image_url }}">
            </div>

            <div class="col s12 m9">
                <h3 class="title capitalize">{{ book.book_title }}</h3>

                <h6 class="capitalize">{{ book.book_author }}</h6>

                <p>{{ book.genre_name }}</p>

                <p>{{ book.book_blurb }}</p>

                <p>Reader rating: {{ average }}/5</p>
                
                <!-- Simple if statement to choose between review singular or plural depending on number of reviews -->
                <p>
                    {{ review_amount }}

                    {% if review_amount == 1 %}
                        review
                    {% else %}
                        reviews
                    {% endif %}
                </p>

                <!-- Displays the ability to edit or delete a book entry based on whether a user is logged in -->
                {% if session.user %}
                    <a href="{{ url_for('edit_book', book_id=book._id) }}" class="waves-effect waves-light btn left btn-small yellow darken-2">Edit</a>

                    <a href="#modal1" class="waves-effect waves-light btn left btn-small yellow darken-2 modal-trigger">Delete</a>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col s12 center ">
                <button href="https://www.amazon.com/s?k={{ book.book_title }}" class="waves-effect waves-light btn btn-gold">Buy Book Here<i class="material-icons right">launch</i></button>
            </div>
        </div>

        <!-- Only users are able to view the review form -->
        {% if session.user %}
            <div class="row">
                <form id="rating-form" action="{{ url_for('add_review', book_id=book._id) }}" method="POST" class="col s12"> 
                    <div class="row" hidden>
                        <div class="input-field col s6">
                            <i class="material-icons prefix">account_circle</i>

                            <input id="username" name="username" type="text" class="validate" value="{{ session.user }}" required>

                            <label for="username">Username</label>
                        </div>
                    </div>

                    <div class="row">
                        <div class="input-field col s6">
                            <i class="material-icons prefix">create</i>

                            <textarea id="review" name="review" class="materialize-textarea validate" required></textarea>

                            <label for="review">Write Your Review</label>
                        </div>
                    </div>

                    <div class="row">
                        <i class="material-icons prefix title">Rate this book</i>

                        <p class="rating-button">
                            <label>
                                <input name="rating" type="radio" value="1" required/>

                                <span>1</span>
                            </label>
                        </p>

                        <p class="rating-button">
                            <label>
                                <input name="rating" type="radio" value="2" required/>
                                
                                <span>2</span>
                            </label>
                        </p>

                        <p class="rating-button">
                            <label>
                                <input name="rating" type="radio" value="3" required/>
                                
                                <span>3</span>
                            </label>
                        </p>

                        <p class="rating-button">
                            <label>
                                <input name="rating" type="radio" value="4" required/>
                                
                                <span>4</span>
                            </label>
                        </p>

                        <p class="rating-button">
                            <label>
                                <input name="rating" type="radio" value="5" required/>
                                
                                <span>5</span>
                            </label>
                        </p>
                    </div>

                    <button class="btn waves-effect waves-light yellow darken-2" type="submit">Add Review
                        <i class="material-icons right">library_add</i>
                    </button>
                </form>
            </div>
        {% endif %}

        <!-- For loop to display all reviews on that book -->
        {% for rev in review %}
            <div class="row">
                <div class="col s12 grey darken-4">
                    <div>
                        <p><span class="review-user">{{ rev.username }}</span> rated this {{ rev.rating }}/5 <span class="review-date"> - {{ rev.created_at }}</span></p>
                    </div>

                    <p class="review-text">"{{ rev.review }}"</p>

                    <!-- Allows the user to edit or delete their own review, but not others -->
                    {% if session.user == rev.username %}
                        <a href="{{ url_for('edit_review', book_id=book._id, review_id=rev._id) }}" class="waves-effect waves-light btn left btn-small yellow darken-2">Edit</a>

                        <a href="#modal2{{ rev._id }}" class="waves-effect waves-light btn left btn-small yellow darken-2 modal-trigger">Delete</a>
                    {% endif %}
                </div>
            </div>

            <div id="modal2{{ rev._id }}" class="modal">
                <div class="modal-content">
                    <h4>Are you sure you want to delete your review?</h4>
                </div>

                <div class="modal-footer">
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat left">Cancel</a>

                    <a href="{{ url_for('delete_review', book_id=book._id, review_id=rev._id) }}" class="modal-close waves-effect waves-green btn-flat right">Delete</a>
                </div>
            </div>
        {% endfor %}

        <div class="center">
            {{ pagination.info }}
            {{ pagination.links }}
        </div>

        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Are you sure you want to delete this book entry?</h4>
            </div>

            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat left">Cancel</a>

                <a href="{{ url_for('delete_book', book_id=book._id) }}" class="modal-close waves-effect waves-green btn-flat right">Delete</a>
            </div>
        </div>
    </div>
{% endblock %}