<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}

    <h3 class="center-align">Edit Book</h3>

    <div class="row">
        <form action="{{ url_for('update_book', book_id=book._id) }}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s6">
                    <i class="material-icons prefix">title</i>

                    <input id="book_title" name="book_title" type="text" class="validate" value="{{book.book_title}}">

                    <label for="icon_prefix">Title</label>
                </div>
            
                <div class="input-field col s6">
                    <i class="material-icons prefix">perm_identity</i>

                    <input id="book_author" name="book_author" type="text" class="validate" value="{{book.book_author}}">

                    <label for="icon_prefix">Author</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                <i class="material-icons prefix">local_library</i>
                    <select id="genre_name" name="genre_name">
                    <option value="" disabled selected>Select a Genre</option>
                    {% for genre in genre %}
                        {% if genre.genre_name == book.genre_name %}
                            <option value="{{genre.genre_name}}" selected >{{genre.genre_name}}</option>
                        {% else %}
                            <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                        {% endif %}
                    {% endfor %}
                    </select>
                    <label>Genre</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">book</i>

                    <input id="book_isbn" name="book_isbn" type="text" class="validate" value="{{book.book_isbn}}">

                    <label for="icon_prefix">ISBN-10</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">insert_photo</i>

                    <input id="image_url" name="image_url" type="text" class="validate" value="{{book.image_url}}">

                    <label for="icon_prefix">Cover Image URL</label>
                </div>
            </div>
            
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">history_edu</i>

                    <textarea id="book_blurb" name="book_blurb" class="materialize-textarea">{{book.book_blurb}}</textarea>

                    <label for="icon_prefix">Blurb</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_quote</i>

                    <textarea id="book_quote" name="book_quote" class="materialize-textarea">{{book.book_quote}}</textarea>

                    <label for="icon_prefix">Favourite Quote</label>
                </div>
            </div>

            <button class="btn waves-effect waves-light" type="submit" name="action">Edit
                <i class="material-icons right">edit</i>
            </button>         

        </form>
    </div>

{% endblock %}