<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="center-align title">Edit Book</h3>

        <div class="row">
            <form action="{{ url_for('update_book', book_id=book._id) }}" method="POST" class="col s12">
                <div class="row">
                    <div class="input-field col s6">
                        <i class="material-icons prefix">title</i>

                        <input id="book_title" name="book_title" type="text" class="validate" value="{{book.book_title}}" required>

                        <label for="book_title">Title</label>
                    </div>
                
                    <div class="input-field col s6">
                        <i class="material-icons prefix">perm_identity</i>

                        <input id="book_author" name="book_author" type="text" class="validate" value="{{book.book_author}}" required>

                        <label for="book_author">Author</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">local_library</i>
                        <select id="genre_name" name="genre_name" required>
                        <option value="" disabled selected>Select a Genre</option>
                        {% for genre in genre %}
                            {% if genre.genre_name == book.genre_name %}
                                <option value="{{genre.genre_name}}" selected >{{genre.genre_name}}</option>
                            {% else %}
                                <option value="{{genre.genre_name}}">{{genre.genre_name}}</option>
                            {% endif %}
                        {% endfor %}
                        </select>
                        <label>Genre</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">insert_photo</i>

                        <input id="image_url" name="image_url" type="text" class="validate" value="{{book.image_url}}" required>

                        <label for="image_url">Cover Image URL</label>
                    </div>
                </div>
                
                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">history_edu</i>

                        <textarea id="book_blurb" name="book_blurb" class="materialize-textarea validate" required>{{book.book_blurb}}</textarea>

                        <label for="book_blurb">Blurb</label>
                    </div>
                </div>

                <div class="row">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">format_quote</i>

                        <textarea id="book_quote" name="book_quote" class="materialize-textarea validate">{{book.book_quote}}</textarea>

                        <label for="book_quote">Favourite Quote</label>
                    </div>
                </div>

                <div class="row" hidden>
                    <div class="input-field col s12">
                        <i class="material-icons prefix"></i>

                        <input id="rating" name="rating" type="text" class="validate" value="{{book.rating}}">

                        <label for="rating"></label>
                    </div>
                </div>

                <button class="btn waves-effect waves-light yellow darken-2" type="submit" name="action">Save
                    <i class="material-icons right">save</i>
                </button>         

                <button href="{{ url_for('home') }}" class="btn waves-effect waves-light red right" formnovalidate>Cancel
                    <i class="material-icons right">cancel</i>
                </button>   
            </form>
        </div>
    </div>
{% endblock %}