<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h3 class="center-align title">{{ genre.genre_name }}</h3>

        <!-- Same code template as with all-books.html, except only books with that particular genre will be displayed -->
        <!-- Page will be accessed from within both index.html, and genres.html (the genre list page) -->
        <div class="row grey darken-4">
            {% for book in books | sort(attribute="book_title") %}
                {% if book.genre_name == genre.genre_name %}
                    <div class="col s8 offset-s2 m2">
                        <div class="card grey darken-3" style="overflow: visible;">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="{{ book.image_url }}" alt="book_image">
                            </div>

                            <div class="card-content">
                                <div style="height: 20px;">
                                    {% if book.rating %}
                                        <p><i class="material-icons card-star">star_rate</i> {{ book.rating }}</p>
                                    {% else %}
                                        <p>(No reviews yet)</p>
                                    {% endif %}
                                </div>
                                <p class="card-title white-text text-darken-4 activator capitalize">{{ book.book_title }}</p>
                            </div>

                            <div class="card-reveal grey darken-3">
                                <span class="card-title title capitalize">{{ book.book_title }}<i class="material-icons right">close</i></span>

                                <p class="card-blurb">{{ book.book_blurb }}</p>

                                <a class="link" href="{{ url_for('book_review', book_id=book._id) }}">More..</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        <div class="center">
            {{ pagination.links }}
        </div>

        <div class="row">
            <nav>
                <div class="nav-wrapper grey darken-4">
                    <form action="{{ url_for('search_books') }}">
                        <div class="input-field">
                            <input id="search0" type="search" name="search" placeholder="Title / Author" required>

                            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                            
                            <i class="material-icons">close</i>
                        </div>
                    </form>
                </div>
            </nav>
        </div>
    </div>
{% endblock %}