<!DOCTYPE html>

<!-- In order to access the base.html code, all templates must 'extend' -->
{% extends 'base.html' %}

<!-- Content that will be placed within the base.html block -->
{% block content %}
    <div class="home-header">
        <div class="carousel hide-on-med-and-down">

            <!-- Displays the top 10 highest rated books in materialize carousel from 1 to 10 -->
            {% for book in books | sort(attribute='rating') | reverse %}
                <a class="carousel-item" href="{{ url_for('book_review', book_id=book._id) }}"><img src="{{ book.image_url }}"></a>
            {% endfor %}
        </div>

        <h4 class="title center-align hide-on-med-and-down">Featured</h4>
    </div>

    <div class="row center quote-row hide-on-med-and-down">
        <div class="col s12">
            <div id="quote-box"></div>
            
            <!-- Displays the randomly generated quotes pulled from quote.js -->
            {% for quote in quotes %}
                <div class="quote-content">
                    <p>"{{ quote.book_quote }}"</p>

                    <p> - {{ quote.book_author }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="container center-cols">
        <div class="row">
            <div class="col s12 m12 l4">
                <h4 class="title center-align">Recently Added</h4>
            </div>

            <div class="col s12 m12 l4 center-align">
                <a href="{{ url_for('all_books') }}" class="waves-effect waves-light btn btn-gold">Browse all of our books here <i class="material-icons right">navigate_next</i></a>
            </div>

            <div class="col s12 m4"></div>
        </div>

        <!-- For loop provides a display of the most recently added books in reverse order as queried from mongo in app.py, line 56 -->
        <div class="row grey darken-4">
            {% for recent in recents %}
                <div class="col s8 offset-s2 m4 l2">
                    <div class="card grey darken-3" style="overflow: visible;">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="{{ recent.image_url }}" alt="book_image">
                        </div>

                        <div class="card-content">
                            <div style="height: 20px;">

                                <!-- For each card throughout the project, an if statement will display the rating IF one is present, else display message -->
                                {% if recent.rating %}
                                    <p><i class="material-icons card-star">star_rate</i> {{ recent.rating }}</p>
                                {% else %}
                                    <p>(No reviews yet)</p>
                                {% endif %}
                            </div>

                            <p class="card-title white-text text-darken-4 activator capitalize">{{ recent.book_title }}</p>
                        </div>

                        <div class="card-reveal grey darken-3">
                            <span class="card-title title capitalize">{{ recent.book_title }}<i class="material-icons right">close</i></span>

                            <p class="card-blurb">{{ recent.book_blurb }}</p>

                            <a class="link" href="{{ url_for('book_review', book_id=recent._id) }}">More..</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col s12 m12 l6">
                <div class="row">
                    <div class="col s12 m12">
                        <h4 class="title center-align">Search and browse books</h4>
                        
                        <!-- Search bar -->
                        <nav>
                            <div class="nav-wrapper grey darken-4">
                                <form action="{{ url_for('search_books') }}">
                                    <div class="input-field">
                                        <input id="search0" type="search" name="search" placeholder="Title / Author" required>

                                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>

                                        <i class="material-icons">close</i>
                                    </div>
                                </form>
                            </div>
                        </nav>
                    </div>
                </div>

                <!-- For loop displaying the complete list of book genres in 4 columns -->
                <div class="row">
                    <div class="col s12 m12 genre-box">
                        {% for genre in genre %}
                            <a class="genre-link link" href="{{ url_for('genre', genre_id=genre._id) }}">{{ genre.genre_name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col s12 m12 l6">
                <div class="card blue-grey">
                    <div class="card-content white-text">
                        <p>Welcome to pen hub!</p><br>

                        <p>Whether you just want to see what other people are saying about your favorite book, 
                        or find the next best pick to buy, you've come to the right place!</p><br>

                        <p>Sign up now to add your favourite books and leave your own thoughts for other users!</p>
                    </div>
                    
                    <div class="card-action">
                        <a href="{{ url_for('register') }}">Register here!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}