

nav .brand-logo {
    margin-left: 50px;
}

nav .hub-logo {
    background-color: goldenrod;
    border-radius: 5px;
}

nav ul a {
    margin-right: 50px;
}

.container {
    padding-top: 50px;
}

.center-cols > col {
    float: none;
    display: inline-block;
}

.btn-small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.card {
    display: block;
}

.card-title {
    font-size: 1em;
}

.card-link {
    color: whitesmoke;
}

a {
    color: inherit;
}

.genre-link {
    display: block;
}