*i {
    position: relative;
    top: 5px;
}

body {
    background-color: black;
    color: lightgray;
}

.home-header {
    background-image: linear-gradient(to bottom, transparent, black), url('/static/assets/images/library.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw;
}

nav .brand-logo {
    margin-left: 50px;
}

nav .hub-logo {
    background-color: goldenrod;
    border-radius: 5px;
}

.title {
    color: goldenrod;
}

nav ul a {
    margin-right: 50px;
}

.container {
    margin-top: 50px;
}

.carousel {
    height: 500px;
}

.carousel .carousel-item {
    width: 300px;
    height: 450px;
    vertical-align: middle;
}

.carousel .carousel-item img {
    width: 290px;
    height: 440px;
    object-fit: cover;
    border: 10px solid lightgray;
}

.center-cols > col {
    float: none;
    display: inline-block;
}

.btn-small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
}

.card {
    display: block;
    margin: 1rem 0 1rem 0;
}

.card .card-content .card-title {
    height: 40px;
    position: relative;
    font-size: 1.1rem;
}

.card .card-image img {
    background-color: gray;
    width: 100%;
    height: 256px;
    padding: 5px;
    object-fit: cover;
    transition: 0.3s;
}

.card .card-image img:hover {
    filter: brightness(80%)
}

.card-link {
    color: whitesmoke;
}

a {
    color: inherit;
}

.genre-link {
    display: block;
}

.quote-content {
    display: none;
}

.card-blurb {
    font-size: 0.8vw;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.review-text {
    white-space: pre-wrap;
    margin-left: 3em;
    margin-right: 3em;
}

#quote-box {
    height: 75px;
    font-size: 1.1em;
}

.genre-box {
    height: 300px;
    column-count: 4;
}

.btn-gold {
    background-color: goldenrod;
    color: black;
}

.card-star {
    font-size: 1.1rem;
    color: gold;
}

.validate {
    color: lightgray;
}