@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Roboto&display=swap');

.roboto {
    font-family: 'Noto Sans JP', sans-serif;
}

.noto {
    font-family: 'Noto Sans JP', sans-serif;
}

*i {
    position: relative;
    top: 5px;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: black;
    color: lightgray;
}

.capitalize {
    text-transform: capitalize;
}

.flashes {
    line-height: 2;
}

.home-header {
    background-image: linear-gradient(to bottom, transparent, black), url('/static/assets/images/library.jpeg');
    background-repeat: no-repeat;
    background-size: 100vw;
}

nav .brand-logo {
    margin-left: 50px;
}

nav .hub-logo {
    background-color: goldenrod;
    border-radius: 5px;
}

.title {
    font-family: 'Noto Sans JP', sans-serif !important;
    color: goldenrod;
    margin-top: 10px;
}

nav ul a {
    margin-right: 50px;
}

.dropdown-link:hover {
    background-color: #eee;
}

.container {
    margin-top: 50px;
}

.carousel {
    height: 500px;
}

.carousel .indicators {
    bottom: -25px;
}

.carousel .carousel-item {
    width: 300px;
    height: 450px;
    vertical-align: middle;
}

.carousel .carousel-item img {
    width: 290px;
    height: 440px;
    object-fit: cover;
    border: 10px solid #212121;
}

.quote-row {
    margin-top: 50px;
}

.center-cols > col {
    float: none;
    display: inline-block;
}

.btn-small {
    height: 24px;
    width: 60px;
    line-height: 24px;
    margin: 5px 5px;
    padding: 0 0.5em;
    color: black;
}

.card {
    display: block;
    margin: 1rem 0 1rem 0;
}

.card .card-content .card-title {
    height: 40px;
    position: relative;
    font-size: 1.1rem;
}

.card .card-image img {
    background-color: gray;
    width: 100%;
    height: 256px;
    padding: 5px;
    object-fit: cover;
    transition: 0.3s;
}

.card .card-image img:hover {
    filter: brightness(80%)
}

.card-link {
    color: whitesmoke;
}

a {
    color: inherit;
}

.genre-link {
    font-size: 0.9rem;
    display: block;
}

.quote-content {
    display: none;
}

.review-text {
    white-space: pre-wrap;
    margin-left: 3em;
    margin-right: 3em;
}

.review-date {
    font-style: italic;
}

#quote-box {
    height: 75px;
    font-size: 1.1em;
}

.genre-box {
    height: 300px;
    column-count: 4;
}

.btn-gold {
    background-color: goldenrod;
    color: black;
}

.card-star {
    font-size: 1.1rem;
    color: gold;
}

.validate,
.select-wrapper input.select-dropdown {
    color: lightgray;
}

.input-field input[type=text]:focus + label {
    color: goldenrod;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid goldenrod;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].valid {
    border-bottom: 1px solid green;
    box-shadow: 0 1px 0 0 #000;
}

.input-field input[type=text].invalid {
    border-bottom: 1px solid red;
    box-shadow: 0 1px 0 0 #000;
}

.input-field .prefix.active {
    color: goldenrod;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid goldenrod;
    box-shadow: 0 1px 0 0 goldenrod;
}

label,
input:not([type]):focus:not([readonly])+label,
input[type=text]:not(.browser-default):focus:not([readonly])+label,
input[type=password]:not(.browser-default):focus:not([readonly])+label,
input[type=email]:not(.browser-default):focus:not([readonly])+label,
input[type=url]:not(.browser-default):focus:not([readonly])+label,
input[type=time]:not(.browser-default):focus:not([readonly])+label,
input[type=date]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime]:not(.browser-default):focus:not([readonly])+label,
input[type=datetime-local]:not(.browser-default):focus:not([readonly])+label,
input[type=tel]:not(.browser-default):focus:not([readonly])+label,
input[type=number]:not(.browser-default):focus:not([readonly])+label,
input[type=search]:not(.browser-default):focus:not([readonly])+label,
textarea.materialize-textarea:focus:not([readonly])+label,
/* dropdown options */
.dropdown-content li>a, .dropdown-content li>span {
    color: goldenrod;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:before,
[type="radio"].with-gap:checked+span:after {
    border: 2px solid goldenrod;
}

[type="radio"]:checked+span:after,
[type="radio"].with-gap:checked+span:after {
    background-color: goldenrod;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color: gold;
}

nav ul a:hover {
    background-color: goldenrod;
}

.pagination li.active {
    background-color: goldenrod;
}

[type="checkbox"].filled-in:checked+span:not(.lever):after {
    border: 2px solid goldenrod;
    background-color: goldenrod;
}

.review-image {
    border: 10px solid gray;
}

.book-review-box {
    padding: 10px;
}

.review-user {
    color: goldenrod;
    font-size: 20px;
}

.rating-button {
    display: inline;
}

.link:hover {
    color: goldenrod;
    transition: 0.3s;
}